html {
    height: 100%;
}
body {
    height: 100%;
    background-color: #fff;

}

.root{

}

.gnb{
	display: flex;
	align-items: center;
	.brand{
		font-size: 1.2rem;
		font-weight: 500;
	}
	.nav{
		margin-left: auto;
	}
	.nav-list{
		display: flex;
		align-items: center;
	}
	&-item{
		}
	.__link{
		display: block;
		padding: 10px;
		color: #333;
		&:hover{
			color: #000;
		}
	}
}


.footer{
	display: flex;
	padding: 30px;
	background: #2d323d;
	line-height: 1.5;
	font-size: 0.8rem;
	color: #828282;
	.cell1{

	}
	.cell2{
		margin-left: auto;
	}
	.email a{
		color: #828282;
	}
}

.gnbFix{
	display: none;
}

