html, body, p, div, span, blockquote, pre, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, th, td, form, fieldset, legend, input, textarea, button, select, section, article, header, footer, main, nav, figure { 
	margin: 0; padding: 0; 
}

img,fieldset,button,input {
    border: 0 none
}

img,input,select,textarea {
    vertical-align: middle
}

a {
    text-decoration: none;
    -webkit-touch-callout : none;
    -webkit-user-select: none;
}

ul, ol{
	list-style: none;
}