@charset "UTF-8";

@import "_reset.scss";
@import "_mixins.scss";
@import "_layout.scss";


.section{
	.__focus{
		@include section-text-focus;
	}
}

.introduce{}

.summary{
	dl{
		display: flex;
		border-bottom: 1px dashed #eee;
	}
	dt{
		width: 200px;
	}
	dd{
		margin-left: 6px;
		@include section-text-focus;
	}
	a{
		@include section-text-focus-color;
	}
}

.business-rule{
	h6{
		font-size: 1.5rem;
		@include section-text-focus;
	}
	li{
		margin-bottom: 2rem;
	}
	p:nth-child(2){
		color: #1ba21b;
	}
}