@charset "UTF-8";
html, body, p, div, span, blockquote, pre, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, th, td, form, fieldset, legend, input, textarea, button, select, section, article, header, footer, main, nav, figure {
  margin: 0;
  padding: 0;
}

img, fieldset, button, input {
  border: 0 none;
}

img, input, select, textarea {
  vertical-align: middle;
}

a {
  text-decoration: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}

ul, ol {
  list-style: none;
}

body {
  font-family: "NotoSans Light", "Malgun Gothic", "맑은 고딕", "Apple SD Gothic Neo", "돋움", dotum, sans-serif;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  background-color: #fff;
}

.root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background: #fbfbfb;
}

.header {
  box-sizing: border-box;
  padding: 1rem 1.8rem;
  background: #a9eae8;
}
.header-inner {
  max-width: 1190px;
  margin: 0 auto;
}
.header-titles {
  padding: 1rem 0;
  text-align: center;
}
.header-title {
  font-weight: 400;
}
.header-menu {
  padding-top: 0.5rem;
  font-size: 0.8rem;
  color: #888;
}
.header-menu .__link {
  padding: 0.3rem;
  color: #888;
}
.header-menu .__link:hover {
  color: #141414;
}

.gnb {
  display: flex;
  align-items: center;
  position: relative;
}
.gnb .brand {
  font-size: 1.2rem;
  font-weight: 500;
}
.gnb .toggle-button {
  display: none;
}
.gnb .nav {
  margin-left: auto;
}
.gnb .nav[data-hidden=false] {
  display: block;
}
.gnb .nav-list {
  display: flex;
  align-items: center;
}
.gnb .nav-item .__link {
  display: block;
  padding: 10px 20px;
  color: #333;
}
.gnb .nav-item .__link:hover {
  color: #8d8d8d;
}

.contents {
  padding: 1.8rem 1.8rem 3rem;
}
.contents-inner {
  max-width: 1190px;
  margin: 0 auto;
}

.section {
  margin-top: 4rem;
  font-size: 1rem;
  color: #828282;
  font-weight: 300;
  line-height: 1.8;
}
.section:first-child {
  margin-top: 0;
}

.footer {
  margin-top: auto;
  padding: 1.8rem;
  background: #2d323d;
  line-height: 1.5;
  font-size: 0.8rem;
  color: #828282;
}
.footer-inner {
  display: flex;
  max-width: 1190px;
  margin: 0 auto;
}
.footer .tel .__link {
  border-radius: 3px;
  border: 1px solid #5b5b5b;
  font-size: 0.5rem;
}
.footer .copyright {
  margin-left: auto;
  text-align: right;
}
.footer a {
  color: #828282;
}
.footer a:hover {
  text-decoration: underline;
}

.gnbFix {
  position: fixed;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 1rem 1.8rem;
  background: #fff;
  opacity: 1;
  transition: top 0.5s ease-in-out;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.03);
}
.gnbFix-inner {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1190px;
  margin: 0 auto;
}
.gnbFix[data-hidden=true] {
  top: -100%;
}

@media screen and (max-width: 767px), screen and (max-width: 850px) and (max-height: 500px) and (orientation: landscape) {
  .header {
    padding: 0;
    background: #fff;
  }
  .header-titles {
    background-color: #a9eae8;
  }

  .gnb {
    display: block;
  }
  .gnb .brand {
    padding: 1.5rem 1rem;
  }
  .gnb .toggle-button {
    display: block;
    position: absolute;
    top: 5px;
    right: 0;
    padding: 1rem;
    background-color: transparent;
    outline: none;
  }
  .gnb .toggle-button .bars {
    display: block;
    transition: transform 0.2s;
  }
  .gnb .toggle-button .__bar {
    display: block;
    width: 23px;
    height: 2px;
    border-radius: 5px;
    margin: 4px 0;
    background: #333;
    transition: transform 0.2s;
  }
  .gnb .toggle-button .__bar:nth-child(2) {
    width: 80%;
  }
  .gnb .nav {
    display: none;
    position: relative;
    width: 100%;
    background-color: #fff;
  }
  .gnb .nav-list {
    flex-direction: column;
    align-items: stretch;
  }
  .gnb .nav-item {
    border-top: solid 1px #ddd;
  }
  .gnb .nav-item .__link {
    padding: 1rem 1.5rem;
    color: #000;
  }
  .gnb[data-expanded=true] .toggle-button .bars {
    transform: rotate(45deg);
    position: relative;
    top: 3px;
    right: 2px;
  }
  .gnb[data-expanded=true] .toggle-button .__bar {
    transform-origin: 0 0;
  }
  .gnb[data-expanded=true] .toggle-button .__bar:last-child {
    transform: rotate(-90deg);
    position: relative;
    top: 6px;
    left: 10px;
  }
  .gnb[data-expanded=true] .toggle-button .__bar:nth-child(2) {
    display: none;
  }
  .gnb[data-expanded=true] .nav {
    display: block;
  }

  .gnbFix {
    padding: 0;
  }
  .gnbFix-inner {
    display: block;
  }
  .contents {
    padding: 1rem 1rem 1.5rem;
  }

  .section {
    margin-top: 2rem;
  }

  .footer {
    padding: 1rem;
  }
  .footer-inner {
    flex-direction: column;
  }
  .footer .copyright {
    margin-left: 0;
    text-align: initial;
  }
}
.section-title {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 400;
  color: #060221;
}

.section-title2 {
  font-size: 1.2rem;
  font-weight: 300;
  color: #060221;
}

.section-title3 {
  font-size: 1.1rem;
  font-weight: 400;
  color: #1ba21b;
  border-bottom: solid 1px #1ba21b;
}

.customers {
  overflow: hidden;
}
.customers-list {
  display: flex;
  flex-flow: row wrap;
  margin-right: -2rem;
}
.customers-item {
  min-width: 50%;
  box-sizing: border-box;
  padding: 1rem 2rem 1rem 0;
}
.customers .section-title2 {
  font-weight: 400;
}
.customers .section-title2:nth-of-type(2) {
  margin-top: 2rem;
}
.customers .address {
  margin: 13px 0 10px;
  line-height: 1.5;
  font-size: 13px;
}
.customers .decscription {
  color: #060221;
}

.facilities table {
  width: 100%;
}
.facilities th, .facilities td {
  padding: 3px 15px;
}
.facilities th {
  font-weight: normal;
}
.facilities thead th {
  background-color: #ceead0;
  color: #518451;
}
.facilities tbody th {
  text-align: left;
}
.facilities tbody th, .facilities tbody td {
  background-color: #e8f3dc;
  font-weight: normal;
  color: #6b7b5a;
}
.facilities tbody td {
  text-align: center;
}
.facilities .note {
  margin-top: 10px;
  font-size: 12px;
}
.facilities .photos {
  display: flex;
  justify-content: space-around;
  padding: 1rem 0 2rem;
}
.facilities .photo {
  box-shadow: 0 50px 75px rgba(0, 0, 0, 0.1);
  padding: 0.5rem;
}

.products {
  padding-bottom: 3rem;
}
.products-list {
  display: flex;
  flex-flow: row wrap;
}
.products-item {
  min-width: 50%;
  box-sizing: border-box;
  padding: 1rem 2rem 1rem 0;
}
.products-item:first-child {
  width: 100%;
}
.products .description {
  color: #060221;
}
.products .photos {
  margin-top: 10px;
}
.products .photo {
  display: inline-block;
  box-shadow: 0 50px 75px rgba(0, 0, 0, 0.1);
  padding: 0.5rem;
  margin-right: 1rem;
}
.products .note {
  color: #060221;
}

@media screen and (max-width: 767px), screen and (max-width: 850px) and (max-height: 500px) and (orientation: landscape) {
  .customers-list {
    display: block;
    margin-right: 0;
  }
  .customers-item {
    padding-right: 0;
  }

  .facilities .photos {
    flex-flow: row wrap;
  }
  .facilities .photo {
    margin-bottom: 10px;
  }

  .products-list {
    display: block;
  }
  .products-item {
    margin-right: 0;
  }
  .products .photo {
    margin-right: 1rem;
  }
}

/*# sourceMappingURL=status.css.map */
