@charset "UTF-8";
html, body, p, div, span, blockquote, pre, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, th, td, form, fieldset, legend, input, textarea, button, select, section, article, header, footer, main, nav, figure {
  margin: 0;
  padding: 0;
}

img, fieldset, button, input {
  border: 0 none;
}

img, input, select, textarea {
  vertical-align: middle;
}

a {
  text-decoration: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}

ul, ol {
  list-style: none;
}

body {
  font-family: "NotoSans Light", "Malgun Gothic", "맑은 고딕", "Apple SD Gothic Neo", "돋움", dotum, sans-serif;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  background-color: #fff;
}

.root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background: #fbfbfb;
}

.header {
  box-sizing: border-box;
  padding: 1rem 1.8rem;
  background: #a9eae8;
}
.header-inner {
  max-width: 1190px;
  margin: 0 auto;
}
.header-titles {
  padding: 1rem 0;
  text-align: center;
}
.header-title {
  font-weight: 400;
}
.header-menu {
  padding-top: 0.5rem;
  font-size: 0.8rem;
  color: #888;
}
.header-menu .__link {
  padding: 0.3rem;
  color: #888;
}
.header-menu .__link:hover {
  color: #141414;
}

.gnb {
  display: flex;
  align-items: center;
  position: relative;
}
.gnb .brand {
  font-size: 1.2rem;
  font-weight: 500;
}
.gnb .toggle-button {
  display: none;
}
.gnb .nav {
  margin-left: auto;
}
.gnb .nav[data-hidden=false] {
  display: block;
}
.gnb .nav-list {
  display: flex;
  align-items: center;
}
.gnb .nav-item .__link {
  display: block;
  padding: 10px 20px;
  color: #333;
}
.gnb .nav-item .__link:hover {
  color: #8d8d8d;
}

.contents {
  padding: 1.8rem 1.8rem 3rem;
}
.contents-inner {
  max-width: 1190px;
  margin: 0 auto;
}

.section {
  margin-top: 4rem;
  font-size: 1rem;
  color: #828282;
  font-weight: 300;
  line-height: 1.8;
}
.section:first-child {
  margin-top: 0;
}

.footer {
  margin-top: auto;
  padding: 1.8rem;
  background: #2d323d;
  line-height: 1.5;
  font-size: 0.8rem;
  color: #828282;
}
.footer-inner {
  display: flex;
  max-width: 1190px;
  margin: 0 auto;
}
.footer .tel .__link {
  border-radius: 3px;
  border: 1px solid #5b5b5b;
  font-size: 0.5rem;
}
.footer .copyright {
  margin-left: auto;
  text-align: right;
}
.footer a {
  color: #828282;
}
.footer a:hover {
  text-decoration: underline;
}

.gnbFix {
  position: fixed;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 1rem 1.8rem;
  background: #fff;
  opacity: 1;
  transition: top 0.5s ease-in-out;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.03);
}
.gnbFix-inner {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1190px;
  margin: 0 auto;
}
.gnbFix[data-hidden=true] {
  top: -100%;
}

@media screen and (max-width: 767px), screen and (max-width: 850px) and (max-height: 500px) and (orientation: landscape) {
  .header {
    padding: 0;
    background: #fff;
  }
  .header-titles {
    background-color: #a9eae8;
  }

  .gnb {
    display: block;
  }
  .gnb .brand {
    padding: 1.5rem 1rem;
  }
  .gnb .toggle-button {
    display: block;
    position: absolute;
    top: 5px;
    right: 0;
    padding: 1rem;
    background-color: transparent;
    outline: none;
  }
  .gnb .toggle-button .bars {
    display: block;
    transition: transform 0.2s;
  }
  .gnb .toggle-button .__bar {
    display: block;
    width: 23px;
    height: 2px;
    border-radius: 5px;
    margin: 4px 0;
    background: #333;
    transition: transform 0.2s;
  }
  .gnb .toggle-button .__bar:nth-child(2) {
    width: 80%;
  }
  .gnb .nav {
    display: none;
    position: relative;
    width: 100%;
    background-color: #fff;
  }
  .gnb .nav-list {
    flex-direction: column;
    align-items: stretch;
  }
  .gnb .nav-item {
    border-top: solid 1px #ddd;
  }
  .gnb .nav-item .__link {
    padding: 1rem 1.5rem;
    color: #000;
  }
  .gnb[data-expanded=true] .toggle-button .bars {
    transform: rotate(45deg);
    position: relative;
    top: 3px;
    right: 2px;
  }
  .gnb[data-expanded=true] .toggle-button .__bar {
    transform-origin: 0 0;
  }
  .gnb[data-expanded=true] .toggle-button .__bar:last-child {
    transform: rotate(-90deg);
    position: relative;
    top: 6px;
    left: 10px;
  }
  .gnb[data-expanded=true] .toggle-button .__bar:nth-child(2) {
    display: none;
  }
  .gnb[data-expanded=true] .nav {
    display: block;
  }

  .gnbFix {
    padding: 0;
  }
  .gnbFix-inner {
    display: block;
  }
  .contents {
    padding: 1rem 1rem 1.5rem;
  }

  .section {
    margin-top: 2rem;
  }

  .footer {
    padding: 1rem;
  }
  .footer-inner {
    flex-direction: column;
  }
  .footer .copyright {
    margin-left: 0;
    text-align: initial;
  }
}
.section-title {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 400;
  color: #060221;
}

.section-title2 {
  font-size: 1.2rem;
  font-weight: 300;
  color: #060221;
}

.introduce .__focus {
  font-weight: 300;
  color: #060221;
}

.summary dl {
  display: flex;
  padding: 10px 0;
  border-bottom: 1px dashed #eee;
}
.summary dt {
  flex: none;
  width: 30%;
}
.summary dd {
  margin-left: 6px;
  font-weight: 300;
  color: #060221;
}
.summary a {
  color: #060221;
}

.business-rule li {
  margin-bottom: 2rem;
}
.business-rule .__focus {
  color: #1ba21b;
}

.map {
  display: flex;
}
.map-image {
  flex: 1;
}
.map-image img {
  width: 100%;
  border: 1px solid #ddd;
}
.map-detail {
  flex: 1;
  padding-left: 2rem;
}
.map-detail dl {
  display: flex;
  margin-top: 1rem;
}
.map-detail dt {
  padding-right: 1.5rem;
}
.map-detail dd {
  flex: 1;
  min-width: 80px;
}

@media screen and (max-width: 767px), screen and (max-width: 850px) and (max-height: 500px) and (orientation: landscape) {
  .header {
    background: #fff;
  }
  .header-titles {
    background-color: #a9eae8;
  }

  .summary dl {
    flex-direction: column;
    padding: 10px 0;
  }
  .summary dt {
    font-size: 1rem;
  }
  .summary dd {
    margin-left: 0;
  }

  .map {
    display: block;
  }
  .map-detail {
    margin-top: 1rem;
    padding-left: 0;
  }
}

/*# sourceMappingURL=about.css.map */
