html {
    height: 100%;
}
body {
    height: 100%;
    background-color: #fff;

}

.root{
	background: #fbfbfb;

}

.gnb{
	display: flex;
	align-items: center;

	position: relative;
	.brand{
		font-size: 1.2rem;
		font-weight: 500;
	}
	.nav{
		margin-left: auto;
		&[data-hidden="false"]{
			display: block;
		}
	}
	.nav-list{
		display: flex;
		align-items: center;
	}
	.nav-item .__link{
		display: block;
		padding: 10px;
		color: #333;
		&:hover{
			color: #000;
		}
	}
	.toggle-button{
		display: none;
		position: absolute;
		top: -4px; right: 0;
		padding: 5px;
		@include button-default;
		.__bar{
			display: block;
			width: 23px;
			height: 2px;
			border-radius: 5px;
			margin: 4px 0;
			background: #333;
			&:nth-child(2){
				width: 80%;
			}
		}

		&[data-expanded="true"]{
			position: absolute; top: 40px; right: 15px;
			transform: rotate(45deg);
			.__bar{
				transform-origin: 0 0;
				position: absolute; top: 0; left: 0;
				margin: 0;
			}
			.__bar:nth-child(2){
				display: none;
			}
			.__bar:first-child{
				top: -12px; left: -11px;
			}
			.__bar:last-child{
				transform: rotate(-90deg);
			}
		}
	}
}

.header{
	box-sizing: border-box;
	padding: 1rem;
	.titles{
		padding: 0.5rem 0 ;
		text-align: center;
	}
	.__title{
		font-weight: 400;
	}
	.__text{
		padding-top: 0.5rem;
		font-size: 0.8rem;
		color: #888;
		a{
			color: #888;
		}
	}
}


.contents{
	padding: 1.8rem;
}

.section{
	margin-bottom: 5rem;
	@include section-text;
	.__title{
		margin-bottom: 1rem;
		font-size: 2rem;
		font-weight: 400;
		color: #060221;
	}
}


.footer{
	display: flex;
	padding: 30px;
	background: #2d323d;
	line-height: 1.5;
	font-size: 0.8rem;
	color: #828282;
	.cell1{

	}
	.cell2{
		margin-left: auto;
	}
	.email a{
		color: #828282;
	}
}

.gnbFix{
	position: fixed;
	top: 0;
	width: 100%;
	box-sizing: border-box;
	padding: 1rem 1.8rem;
	background: #fff;
	opacity: 1;
	transition: top 0.2s ease-in-out;
	&[data-hidden=true]{
		top: -100%;
	}
}

