$content-space-mobile: 1rem;
// $mobile-width: 500px;
$mobile-width: 767px;
$mobile-width2: 850px;
$mobile-height: 500px;

@media screen and (max-width: $mobile-width),
	screen and (max-width: $mobile-width2) 
			and (max-height: $mobile-height) 
			and (orientation: landscape) {
	.header {
		padding: 0;
		background: #fff;
		&-titles {
			background-color: #a9eae8;
		}
	}

	.gnb {
		display: block;
		.brand {
			padding: 1.5rem $content-space-mobile;
		}
		.toggle-button {
			$duration: 0.2s;
			display: block;
			position: absolute;
			top: 5px;
			right: 0;
			padding: $content-space-mobile;
			@include button-default;
			.bars {
				display: block;
				transition: transform $duration;
			}
			.__bar {
				display: block;
				width: 23px;
				height: 2px;
				border-radius: 5px;
				margin: 4px 0;
				background: #333;
				&:nth-child(2) {
					width: 80%;
				}
				transition: transform $duration;
			}
		}
		.nav {
			display: none;
			position: relative;
			width: 100%;
			background-color: #fff;
		}
		.nav-list {
			flex-direction: column;
			align-items: stretch;
		}
		.nav-item {
			border-top: solid 1px #ddd;
			.__link {
				padding: 1rem 1.5rem;
				color: #000;
			}
		}
		&[data-expanded="true"] {
			.toggle-button {
				.bars {
					transform: rotate(45deg);
					position: relative;
					top: 3px;
					right: 2px;
				}
				.__bar {
					transform-origin: 0 0;
				}
				.__bar:last-child {
					transform: rotate(-90deg);
					position: relative;
					top: 6px;
					left: 10px;
				}
				.__bar:nth-child(2) {
					display: none;
				}
			}
			.nav {
				display: block;
			}
		}
	}

	.gnbFix {
		padding: 0;
		&-inner {
			display: block;
		}
		.nav {
			// box-shadow: 0px 10px 10px rgb(0 0 0 / 3%);
		}
	}
	.contents {
		padding: $content-space-mobile $content-space-mobile 1.5rem;
	}
	.section {
		margin-top: 2rem;
	}

	.footer {
		padding: $content-space-mobile;
		&-inner {
			flex-direction: column;
		}
		.copyright {
			margin-left: 0;
			text-align: initial;
		}
	}
}
