@mixin contents-wrap {
	max-width: 1190px;
	margin: 0 auto;
}

@mixin section-text-size {
	font-size: 1rem;
}
@mixin section-text-color {
	color: #828282;
}
@mixin section-text-weight {
	font-weight: 300;
}
@mixin section-text-focus-color {
	color: #060221;
}
@mixin section-text {
	@include section-text-size;
	@include section-text-color;
	@include section-text-weight;
	line-height: 1.8;
}
@mixin section-text-focus {
	@include section-text-weight;
	@include section-text-focus-color;
}
@mixin section-title{
	margin-bottom: 1rem;
	font-size: 1.5rem;
	font-weight: 400;
	color: #060221;
}
@mixin section-title2{
	font-size: 1.2rem;
	font-weight: 300;
	color: #060221;
}
@mixin section-title3{
	font-size: 1.1rem;
	font-weight: 400;
	color: #1ba21b;
	border-bottom: solid 1px #1ba21b;
}

@mixin button-default {
	background-color: transparent;
	outline: none;
}

@mixin box-shadow{
	box-shadow: 0 50px 75px rgb(0 0 0 / 10%);
}
