@charset "UTF-8";

@import "_reset.scss";
@import "_constants.scss";
@import "_mixins.scss";
@import "_layout.scss";
@import "_layout-pc.scss";

.section-title {
    @include section-title;
}

.section-title2 {
    @include section-title2;
}

.introduce {
    .__focus {
        font-weight: 500;
        color: #2d2a42;
    }
}

.summary {
    dl {
        display: flex;
        flex-direction: column;
        padding: 10px 0;
        border-bottom: 1px dashed #eee;
    }
    dt {
        font-size: 1rem;
    }
    dd {
        margin-left: 6px;
        margin-left: 0;
        font-weight: 300;
        color: #060221;
    }
    a {
        color: #060221;
    }
}

.business-rule {
    li {
        margin-bottom: 2rem;
    }
    .__focus {
        font-weight: 400;
        color: #268164;
        // color: #1ba21b;
    }
}

.map {
    display: block;
    &-image {
        flex: 1;
        img {
            width: 100%;
            height: auto;
            box-sizing: border-box;
            border: 1px solid #ddd;
        }
        a {
            display: block;
        }
    }
    &-detail {
        flex: 1;
        margin-top: 1rem;
        padding-left: 0;
        // .section-title2 {
        // float: left;
        // }
        .link-kakaomap {
            margin-left: 7px;
            padding: 5px;
            border-radius: 5px;
            border: 1px solid #ddd;
            font-size: 12px;
            @include section-text-color;
        }
        dl {
            display: flex;
            margin-top: 1rem;
        }
        dt {
            padding-right: 1.5rem;
        }
        dd {
            flex: 1;
            min-width: 80px;
            color: #111;
        }
    }
}

@media screen and (min-width: $device-tablet) {
    .summary {
        dl {
            flex-direction: initial;
        }
        dt {
            flex: none;
            width: 30%;
            font-size: initial;
        }
        dd {
            margin-left: initial;
        }
    }
    .map {
        display: flex;
        &-detail {
            margin-top: initial;
            padding-left: 2rem;
        }
    }
}
