@charset "UTF-8";

@import "_reset.scss";
@import "_constants.scss";
@import "_mixins.scss";
@import "_layout.scss";
@import "_layout-mobile.scss";

.section-title {
    @include section-title;
}
.section-title2 {
    @include section-title2;
}

.process {
    &-list {
        display: flex;
        flex-direction: column;
    }
    &-item {
        display: flex;
        flex-direction: column;
        align-items: center;

        box-sizing: border-box;
        padding: 10px 0;
        text-align: center;

        .__text {
            width: 70%;
            padding: 0.5rem 1rem;
            border-radius: 50%;
            background: #cde5be;
            color: #2b3525;
            @include box-shadow;
        }
        .__arrow {
            margin: 10px 0 0;
            transform: rotate(90deg);
        }
    }
}

.business {
    &-image {
        text-align: center;
        img {
            width: 100%;
            height: auto;
        }
    }
}

@media screen and (min-width: $device-tablet) {
    .process {
        &-list {
            flex-direction: initial;
            flex-flow: row wrap;
        }
        &-item {
            flex-direction: row;
            width: 33.33333%;
            padding: 1rem 0.5rem;
            .__text {
                flex: 2;
            }
            .__arrow {
                flex: 1;
                margin: 0 0 0 10px;
                transform: rotate(0deg);
            }
        }
    }
    .business {
        &-image {
            margin-top: 1rem;
            img {
                width: auto;
                height: auto;
            }
        }
    }
}
