@charset "UTF-8";

@import "_reset.scss";
@import "_constants.scss";
@import "_mixins.scss";
@import "_layout.scss";
@import "_layout-pc.scss";

@mixin __cardText {
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    @include section-text-color;
    @media screen and (min-width: $device-tablet) {
        font-size: 1rem;
    }
}

.section-title {
    @include section-title;
}
// .section-title2 {
//     @include section-title2;
// }
.section-title3 {
    @include section-title3;
}

.largeActions {
    @include largeActions;
}

.equipStatus {
    .section-title3 {
        margin-top: 1.5rem;
    }
    table {
        width: 100%;
    }
    @include table;
}

.equipGallery {
    figure {
        position: relative;
        padding: 0 3px;
        box-sizing: border-box;
        img {
            width: 100%;
            height: auto;
            padding: 0.3rem;
            box-sizing: border-box;
            @include box-shadow;
        }
    }

    figcaption {
        margin-top: 2px;
        @include __cardText;
    }

    &-photos1 {
        box-sizing: border-box;
        margin-left: -0.3rem;
        padding: 1rem 0 2rem;
        &:after {
            @include float-clear;
        }
        figure {
            float: left;
            width: 50%;
        }
    }
    &-photos2 {
        box-sizing: border-box;
        margin-left: -0.3rem;
        padding: 1rem 0 2rem;
        &:after {
            @include float-clear;
        }
        figure {
            float: left;
            img {
                width: auto;
                height: 160px;
            }
        }
    }
}

.equipVideos {
    &-list {
        margin-top: 1rem;
        &:after {
            @include float-clear;
        }
    }
    &-card {
        float: left;
        width: 50%;
        padding-bottom: 1rem;
        .__link {
            display: block;
            &:hover {
                text-decoration: underline;
            }
            img {
                width: 100%;
                height: auto;
                padding: 0.2rem;
                box-sizing: border-box;
                background-color: #fff;
            }
        }
        .__text {
            @include __cardText;
            letter-spacing: -1px;
        }
    }
}

@media screen and (min-width: $device-tablet) {
    .equipGallery {
        &-photos1 {
            figure {
                width: 33.333%;
            }
        }
    }
    .equipVideos {
        &-card {
            width: 33.333%;
        }
    }
}

@media screen and (min-width: $device-pc) {
    .equipGallery {
        &-photos1 {
            figure {
                width: 25%;
            }
        }
    }
    .equipVideos {
        &-card {
            width: 25%;
        }
    }
}
