@charset "UTF-8";

@import "_reset.scss";
@import "_constants.scss";
@import "_mixins.scss";
@import "_layout.scss";
@import "_layout-mobile.scss";

.section-title {
    @include section-title;
}
// .section-title2 {
//     @include section-title2;
// }
.section-title3 {
    @include section-title3;
}

.equipStatus {
    .section-title3 {
        margin-top: 1.5rem;
    }
    table {
        width: 100%;
    }
    @include table;
}

.equipGallery {
    figure {
        position: relative;
        padding: 0 3px;
        box-sizing: border-box;
        img {
            width: 100%;
            height: auto;
            padding: 0.3rem;
            box-sizing: border-box;
            @include box-shadow;
        }
    }
    .actions {
        display: none;
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        bottom: 0;
        margin-top: -15px;
        text-align: center;
        button {
            @include button-a;
            height: 30px;
            font-size: 12px;
        }
    }
    figure:hover .actions {
        display: block;
    }
    figcaption {
        margin-top: 5px;
        font-weight: 400;
        font-size: 14px;
        text-align: center;
    }

    .photos1 {
        // display: flex;
        // flex-flow: row wrap;
        box-sizing: border-box;
        padding: 1rem 0 2rem;
        &:after{
            @include float-clear;
        }
        figure {
            float: left;
            width: 50%;
        }
    }
    .photos2 {
        // display: flex;
        // flex-flow: row wrap;
        box-sizing: border-box;
        padding: 1rem 0 2rem;
        &:after{
            @include float-clear;
        }
        figure {
            float: left;
            img {
                width: auto;
                height: 160px;
            }
            // &:first-child {
            //     flex: none;
            //     width: 100%;
            //     img {
            //         width: 100%;
            //         height: auto;
            //     }
            // }
        }
    }
}

.videos {
    &-list {
        margin-top: 1rem;
        &:after{
            @include float-clear;
        }
    }
    .video {
        float: left;
        width: 50%;
        padding-bottom: 1rem;
        // display: inline-block;
        // width: 49%;
        // box-sizing: border-box;
        // padding: 5px;
        .__link {
            display: block;
            img{
                width: 100%;
                height: auto;
                padding: 0.3rem;
                box-sizing: border-box;
                background-color: #fff;
                @include box-shadow;
            }
        }
        .__text {
            font-weight: 400;
            font-size: 14px;
            text-align: center;
            @include section-text-color;
        }
    }
}

@media screen and (min-width: $device-tablet) {
    .equipGallery {
        .photos1 {
            // flex-flow: initial;
            figure {
                width: 25%;
                // flex: 1;
                // &:nth-child(odd):last-child {
                //     flex: 1;
                //     width: initial;
                // }
            }
        }
    }
    .videos {
        .video{
            width: 24%;
        }
    }
}
