@charset "UTF-8";

@import "_ie9-mixins.scss";
@import "_ie9-layout.scss";

.facilities{
    .photos{
        display: block;
    }
    .photo{
        display: inline-block;
    }
}
.products{
    &-list{
        display: block;
        &:after{
            @include float-clear;
        }
    }
    &-item{
        float: left;
    }
}