@mixin float-clear{
	content: '';
	display: table;
	clear: both;
}

.gnb {
	.brand {
		float: left;
	}
	.nav {
		float: right;
	}
	.nav-item {
		display: inline-block;
	}
	&:after {
		@include float-clear;
	}
}

.footer {
	&-inner {
		display: table;
		width: 100%;
	}
	.info {
		display: table-cell;
	}
	.copyright {
		display: table-cell;
	}
}


.summary {
	dl {
		display: table;
		width: 100%;
	}
	dt {
		display: table-cell;
	}
	dd {
		display: table-cell;
	}
}

.map{
	display: block;
	&:after {
		@include float-clear;
	}
	&-image{
		float: left;
		width: 50%;
		margin-right: 2rem;
	}
	&-detail{
		margin-left: auto;
		dl{
			display: table;
		}
		dt{
			display: table-cell;
		}
		dd{
			display: table-cell;
		}
	}
}

.customers{
	display: block;
	li{
		width: initial;
		&:nth-child(odd){
			padding-right: 0;
		}
		&:nth-child(even){
			padding-left: 0;
		}
	}
}