@charset "UTF-8";

@import "_reset.scss";
@import "_mixins.scss";
@import "_layout.scss";
@import "_layout-mobile.scss";


.section-title{
	@include section-title;
}

.expected{
	&-units{
		text-align: right;
	}
	&-table{
		width: 100%;
		@include table;
	}
}

.outlook{

}

.strategy{

}

@media screen and (max-width: $mobile-width),
  screen and (max-width: $mobile-width2) 
  			and (max-height: $mobile-height) 
  			and (orientation: landscape) {
	.header {
		background: #fff;
		&-titles {
			background-color: #a9eae8;
		}
	}

}
