@charset "UTF-8";

@import "_reset.scss";
@import "_constants.scss";
@import "_mixins.scss";
@import "_layout.scss";
@import "_layout-pc.scss";

.section-title {
    @include section-title;
}

.section-title2 {
    @include section-title2;
    margin-top: 1rem;
}

.expected {
    display: block;
    &-media {
        flex: 1;
        img {
            width: 100%;
            height: auto;
        }
    }
    &-data {
        flex: 1.5;
    }
    &-units {
        text-align: right;
    }
    &-table {
        width: 100%;
        @include table;
    }
}

// .outlook {
// }

// .strategy {
// }
@media screen and (min-width: $device-tablet) {
    .expected {
        display: flex;
    }
}
@media screen and (min-width: $device-pc) {
}
