@charset "UTF-8";

@import "_reset.scss";
@import "_mixins.scss";
@import "_layout.scss";
@import "_layout-mobile.scss";


.section-title{
	@include section-title;
}
.section-title2{
	@include section-title2;
}
.section-title3{
	@include section-title3;
}

.customers{
	overflow: hidden;
	&-list{
		display: flex;
		flex-flow: row wrap;
		margin-right: -2rem;
	}
	&-item{
		min-width: 50%;
		box-sizing: border-box;
		padding: 1rem 2rem 1rem 0;
	}
	.section-title2{
		font-weight: 400;
		&:nth-of-type(2){
			margin-top: 2rem;
		}
	}	
	.address{
		margin: 13px 0 10px;
		line-height: 1.5;
		font-size: 13px;
	}
	.decscription{
		color: #060221;
	}
}

.facilities{
	table{
		width: 100%;
	}
	th, td{
		padding: 3px 15px;
	}
	th{
		font-weight: normal;
	}
	thead th{
		background-color: #ceead0;
		color: #518451;
	}
	tbody{
		th{
			text-align: left;
		}
		th, td{
			background-color: #e8f3dc;
			font-weight: normal;
			color: #6b7b5a;
		}
		td{
			text-align: center;
		}
	}
	.note{
		margin-top: 10px;
		font-size: 12px;
	}
	.photos{
		display: flex;
		justify-content: space-around;
		// margin-top: 10px;
		padding: 1rem 0 2rem;
		// background-color: #eaeaea;
	}
	.photo {
		@include box-shadow;
		padding: 0.5rem;
	}
}

.products{
	padding-bottom: 3rem;
	&-list{
		display: flex;
		flex-flow: row wrap;
		// margin-right: -2rem;
	}
	&-item{
		min-width: 50%;
		box-sizing: border-box;
		padding: 1rem 2rem 1rem 0;
		&:first-child{
			width: 100%;
		}
	}
	.description{
		color: #060221;
	}
	.photos{
		margin-top: 10px;
	}
	.photo {
		display: inline-block;
		@include box-shadow;
		padding: 0.5rem;
		margin-right: 1rem;
	}
	.note{
		color: #060221;
	}
}

@media screen and (max-width: $mobile-width),
  screen and (max-width: $mobile-width2) and (max-height: $mobile-height) and (orientation: landscape) {
  	.customers{
  		&-list{
	  		display: block;
			margin-right: 0;
		}
		&-item{
			padding-right: 0;
		}
  	}
  	.facilities{
  		.photos{
			flex-flow: row wrap;
  		}
		.photo{
			margin-bottom: 10px;
		}
  	}
  	.products{
  		&-list{
  			display: block;
  		}
  		&-item{
			margin-right: 0;
		}
		.photo{
			margin-right: 1rem;
		}
	}
}
